<html>
<head>
<meta charset="utf-8">
<title>CCS例子测试</title>
<style>
body
{
	background-color:#ffffe0;
}
h1
{
	color:#8C8C8C;
	text-align:center;
}
a:link {color:#000000;}      /* 未访问链接*/
a:visited {color:#00FF00;}  /* 已访问链接 */
a:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
a:active {color:#0000FF;}  /* 鼠标点击时 */
p
{
	font-family:"Times New Roman";
	font-size:20px;
}
p1
{
    font-family:"Times New Roman";
	font-size:30px;
}
</style>
</head>

<body>
<p><b><a href="http://jd.com" target="kong(blank)">去往JD链接</a></b></p>
<h1>CSS 实例</h1>
<p>例子测试一</p>
<p1><b><a href="http://127.0.0.1:8000/" target="kong(blank)">返回</a></b></p1>
</body>
</html>
