<h3>{hello}</h3>
<!DOCTYPE html>
<html>
<head>
    <title>网页测试页面</title>
</head>
<body>
____________________欢迎光临_______________________
<h1>网页测试：1.加载图片 2.链接CCS（未连接数据库，创建时间：8.14）</h1>
{% load static %}
<br><br/>
<br><h2>*******************加载图片********************</h2><br/>
<img src="{% static '5.jpg' %}" alt = "第一张图片" width="560px" height="300px" />
<br><br/>
<h2>*******************加载链接********************</h2>
<h1><b><a href="ccs/" target="kong(blank)">去往CCSweb例子链接</a></b></h1>
</body>
</html>
<h3>背景图片</h3>
<h2><a href="admin/">用户登录界面</a></h2>
